<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="PageLevelAuth" value="false"/>
    <add key="CopyRight" value="EduCare Cloud"/>
    <add key="EmailID" value="ibinarysoft@gmail.com"/>
    <add key="EmailPassword" value="Binary01!"/>
    <add key="AppLogo" value="../Resource/img/logo/logo.png"/>
    <add key="ClientBandInfo" value=""/>    
    <add key="MessageApi" value="https://api.textlocal.in/send/?apikey=MmMf0u1l3fY-y8XUsXYsvllsnU0SzR0WDirCCwyOV3&amp;numbers=[Number]&amp;message=[Message]&amp;sender=TXTLCL"/>
    <add key="BirthdayMessage" value="Wishing {Name} a very happy birthday. May god bless you with lot of happiness and success."/>
    <add key="AttendanceMessage" value="Your ward {Name} was absent today. Kindly update us with the reason"/>
    <add key="CredentialMessage" value="Welcome to IBinarySoft School Parent Portal&#xA;Name- {StudentName}&#xA;Username- {Username}&#xA;Password- {Password} to login please visit www.ibinarysoft.com"/>
    <add key="UserCredentialMessage" value="Welcome to IBinarySoft School User Portal&#xA;Name- {StudentName}&#xA;Username- {Username}&#xA;Password- {Password} to login please visit www.ibinarysoft.com"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EduCareConnection" connectionString="Data Source=sql6005.site4now.net;Initial Catalog=DB_A445BF_educare;User Id=DB_A445BF_educare_admin;Password=uq5qBhrFXC4X" providerName="System.Data.SqlClient" />-->
    <!--<add name="EduCareConnection" connectionString="Data Source=ibinarysoft.cthaz1fusyvs.ap-south-1.rds.amazonaws.com;Initial Catalog=Educare_Dev;User Id=admin;Password=Ibinary01!" providerName="System.Data.SqlClient" />-->
    <!--<add name="EduCareConnection" connectionString="Data Source=SQL5049.site4now.net;Initial Catalog=DB_A64681_edudemo;User Id=DB_A64681_edudemo_admin;Password=M@nikandan21" providerName="System.Data.SqlClient" />-->
    <add name="EduCareConnection" connectionString="Data Source=BLACKCHALK-PC;Initial Catalog=DBLogistics;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <!--<globalization culture="ta-IN" uiCulture="ta-IN" />-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" />
    <pages enableViewStateMac="true" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" enableSessionState="true">
      <controls>
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajax" />
      </controls>
    </pages>
    <sessionState mode="InProc" cookieless="false"  timeout="20"></sessionState>
    <httpHandlers>
      <!--<add verb="*" path="*DownloadImage.ashx" type="ASPNETGRIDVIEW_PART2.DownloadImage,ASPNETGRIDVIEW_PART2" />-->
    </httpHandlers>

  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
       
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
